@import "variables";

#rooms,
#chatroom,
#cards {
	display: none;
}

// Login
#login {
	form {
		width: 340px;
		margin: 120px auto 0;
	}
}

// Rooms view
#rooms {
	ul {
		@include list-unstyled();
		@include make-row();

		li {
			@include make-md-column(3);
			display: table;

			a {
				width: 100%;
				height: 180px;
				margin: 20px;
				text-align: center;
				color: #fff;
				font-weight: bold;
				text-transform: uppercase;
				display: table-cell;
				vertical-align: middle;
				text-decoration: none;
				@include border-radius(4px);
				@include background-image(linear-gradient(to bottom right, #ab462b, #662411));

				&:hover {
					@include background-image(linear-gradient(to bottom right, lighten(#ab462b, 10%), lighten(#662411, 10%)));
				}

				span {
					display: block;
					font-weight: normal;
					font-style: italic;
				}
			}
		}
	}

	form {
		width: 340px;
		margin: 120px auto 0;
	}
}

// Chatroom
#chatroom {
	@include make-md-column(12);
	background: #000;
	padding: 3px;

	input {
		border: 0;
		padding: 10px;
		width: 90%;
		margin-right: .5%;
	}

	button {
		width: 9%;
		background: $brand-primary;
		border: none;
		padding: 10px;
	}
}

#messages {
	height: 20em;
	overflow: auto;
	list-style-type: none;
	margin: 0;
	padding: 0;

	li {
		padding: 5px 10px;

		&:nth-child(odd) {
			background: #eee;
		}
	}
}

// Cards
.card {
	width: 280px;
	height: 420px;
	background: #aaa;
	@include border-radius(9px);
	display: table;
	text-align: center;
	color: #fff;
	font-weight: bold;
	text-transform: uppercase;
	float: left;
	margin: 20px;

	span {
		display: table-cell;
		vertical-align: middle;
	}

	&.captain {
		@include background-image(linear-gradient(to bottom right, #516ecf, #282e75));
	}

	&.contessa {
		@include background-image(linear-gradient(to bottom right, #ab462b, #662411));
	}

	&.assassin {
		@include background-image(linear-gradient(to bottom right, #4f4f4f, #1a1a1a));
	}

	&.duke {
		@include background-image(linear-gradient(to bottom right, #ad4ba2, #752861));
	}

	&.ambassador {
		@include background-image(linear-gradient(to bottom right, #85b063, #4f7332));
	}

	&.inquisitor {
		@include background-image(linear-gradient(to bottom right, #a7ab30, #6b6019));
	}
}